{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}
    <link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">
    <link href="{% static 'usuarios/css/usuarios_min.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="container-fluid bg-inscricao container_main">
        
        <div class="row">
            <div class="col-md">
                
                {% comment %} {% include "partials/usuarios/cadastro.html" %} {% endcomment %}

                <div class="row">
                    <div class = "col-md-6 borda">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-holder">
                                    <div class="form-content">
                                        <div class="form-items">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert {{ message.tags }}">{{ message }}</div>
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <h3>Seja bem vindo novamente</h3>
                
                                            <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
                                                <div class="col-md-12">
                                                    <label>Username:</label>
                                                    <input type="text" class="form-control" placeholder="Username..." name="username">
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <label>E-mail:</label>
                                                    <input type="email" class="form-control" placeholder="E-mail..." name="email">
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Senha:</label>
                                                        <input type="password" class="form-control" placeholder="Senha..." name="senha">
                                                    </div>    

                                                    <div class="col-md-6">
                                                        <label>Confirmar senha:</label>
                                                        <input type="password" class="form-control" placeholder="Confirmar senha..." name="confirmar_senha">
                                                    </div>    
                                                </div>

                                                <div class="row">
                                                    <div class="form-button mt-3 col-md-6">
                                                        <input type="submit" value="CADASTRAR" class="btn btn-secondary"> 
                                                    </div>
                                                    
                                                    <div class="form-button mt-3 col-md-6">
                                                        <a href=" {% url 'login' %} " class="link">Já possuo uma conta</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-md bg-img">
                    
                    </div>
                
                </div>

            </div>
        
        </div>
    </div>

{% endblock %}